/*================================
         Google Font Link
================================= */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@500;800&display=swap');
* {
    font-family: 'Work Sans', sans-serif;
}



/*------------------------------
     Header Styles     
--------------------------------*/
header {
    background-color: rgba(35, 117, 232, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 80px;
}

.nav-title {
    color: #131313;
    font-size: 36px;
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.list-text {
    color: #424242;
    font-size: 18px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-title {
    text-align: center;
    font-size: 48px;
    color: #131313;
}

.banner-description {
    width: 50%;
    text-align: center;
    color: #727272;
    margin-bottom: 30px;
}

.primary-button {
    font-size: 28px;
    font-weight: 600;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 30px;
}

.banner-img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

/*====================================
        quick section Styles
===================================== */
.quick-section {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    column-gap: 20px;
}

.img-section,
.text-section {
    width: 50%;
}

.img-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 80px;
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.quick-description {
    text-align: left;
    width: 80%;
    color: #727272;
}

.quick-img {
    height: 100%;
    width: 100%;
}

.quick-title {
    font-size: 36px;
    margin-bottom: 10px;
    color: #727272;
}

.change-black {
    color: #131313;
}

.change-orange {
    color: #FF900E;
}

/*==============================
      features section Style 
=================================*/
.features-section{
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.features , .features-image{
    width: 50%;
}
.features-img{
    width: 100%;
}

.features-title{
    font-size: 38px;
    color: #131313;
    border-left:3px solid #FF900E;
    padding-left: 10px;
    margin-bottom: 15px;
   
}
.features-description{
    font-size:16px ;
    color: #727272;
    margin-bottom: 15px;
}
.features-items{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 25px;
   
}
.item{
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
.text-title{
    font-size: 20px;
    color: #131313;
}
.text-description{
    color: #727272;
}
.center{
    display: flex;
    justify-content: left;
  
}
.big-button{
    background-color: #FF900E;
    color: white;
    padding: 20px 5px;
    border: none;
    position: relative;
    bottom: 60px;
    border-radius: 5px;
}
a{
   text-decoration: none;
}
.big{
    font-size: 48px;
}
.small{
    font-size: 20px;
}

/*=====================================
          fact section Styles 
=======================================*/
.fact-section{
    width: 90%;
    margin: 0 auto;
}
.fact-section-title{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}
.fact-section-description{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 80px;
}
.facts{
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 40px;
   width: 80%;
   margin-left: 160px;
   margin-bottom: 30px;
}
.fact{
    width: 22%;
    border: 1px solid #FF900E;
   border-radius: 8px;
   padding-top: 10px;
   padding-bottom: 10px;
}
.fact-1:hover , .fact-3:hover{
    transform: rotate(-45deg);
    background-color: pink;
}
.fact-2:hover , .fact-4:hover{
    transform: rotate(-45deg);
    background-color:lightgreen;
}
.fact-eliment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;

}
.fact-icon{
    margin-bottom: 0;
}
.fact-number{
    font-size: 36px;
    color: #424242;
    margin-bottom: 0;
}
.fact-text{
    font-size: 16px;
    color: #727272;
}

/* --------------------
    Sponsor section 
----------------------*/
.sponsor-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sponsor-title{
    color: #131313;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 45px;
}
.sponsor-text{
    color: #727272;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 14px;
    width: 542px;
    height: 52px;
    line-height: 26px;
    text-align: center;
}
.sponsor-images{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 40px;
    width: 90%;
}
.sponsor-image{
   width: 14%;
  filter: grayscale(100%);
}

/* =====================
      Extra Section
======================== */

.about {
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
    padding: 130px 150px;
     background: #FFF8F3;
  }
  /* ========================
          about section
 ============================*/

.section-title{

margin-bottom: 30px;
font-weight: 700;
font-size: 35px;
text-align: center;
}
.section-description{
font-size: 18px;
text-align: center;
color: #757575;
margin-bottom: 30px;
}

.about-info-container{
display: grid;
grid-template-columns: repeat(3, 1fr);


}
.about .info-title{
font-size: 20px;
color: #757575;
}
.info-descriptions{
font-weight: 400;
font-size: 18px;
}

.extra-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */
.footer-section{
    background-color: #FFF4E7;
    text-align: center;
    width: 95%;
    margin-left: 30px;
    margin-top: 60px;
}
.footer-text{
    color: #424242;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*--------------- Media Query ---------------
----------- Media Queries For Mobile --------
------------------------------- ------------*/

@media screen and (max-width:576px) {
    /* ==========================
        Header Media Query 
    ============================*/
    .navbar {
      
        flex-direction: column;
        padding: 5px 10px;
    }

    nav>ul {
        flex-direction: column;
    }

    .nav-title {
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    ul {
        margin-bottom: 10px;
    }

    .banner-title {
        font-size: 32px;
        margin-bottom: 5px;
    }

    .banner-description {
        width: 100%;
        margin-bottom: 10px;
    }

    .primary-button {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .banner-img{
        width: 100%;
    }

    /* ==================================
        quick Media Query 
    ====================================*/
    .quick-section{
        flex-direction: column;
    }
    .img-section{
        grid-template-columns: repeat(1 , 1fr);
        padding: 0;
        width: 100%;
    }
    .text-section{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .part-1-description{
        width: 100%;
        text-align: center;
    }

    /* ============================
         features section Style 
 =====================================*/
    .features-section{
        flex-direction: column;
        align-items:flex-start;
        width: 100%;
    }
    .features, .features-image{
        width: 100%;
    }

    /* ==============================
          fact section Styles 
    =================================*/
    .facts{
        
        flex-direction: column;
        margin:0 auto;
    }
    .fact{
        width: 100%;
    }

    /* ===========================
           Sponsor section 
    =============================*/
    .sponsor-text{
        width: 100%;
    }
    .sponsor-title{
        font-size: 36px;

    }
    .sponsor-images{
        flex-direction: column;
        align-items: center;
    }
    .sponsor-image{
        width: 35%;
    }

    /*===========================
            About us
    =============================*/
    .about-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;;
    }
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;;
        text-align: center;
    
        background: #FFF8F3;
        border-radius: 10px;
}

    /*=======================
            Footer Section
    ==========================*/
   .footer-section{
    margin-left: 0;
    width: 100%;
   }

}